In [3]:
import numpy as np
import pandas as pd
import seaborn as sns 
import matplotlib.pyplot as plt
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics
import pickle
from sklearn.model_selection import train_test_split

In [4]:
data= pd.read_csv('datasets_1686_3183_district wise rainfall normal.csv')
data.head()

,STATE_UT_NAME,DISTRICT,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL,Jan-Feb,Mar-May,Jun-Sep,Oct-Dec,PREDICT
0,ANDAMAN And NICOBAR ISLANDS,NICOBAR,107.3,57.9,65.2,117.0,358.5,295.5,285.0,271.9,354.8,326.0,315.2,250.9,2805.2,165.2,540.7,1207.2,892.1,HIGH
1,ANDAMAN And NICOBAR ISLANDS,SOUTH ANDAMAN,43.7,26.0,18.6,90.5,374.4,457.2,421.3,423.1,455.6,301.2,275.8,128.3,3015.7,69.7,483.5,1757.2,705.3,HIGH
2,ANDAMAN And NICOBAR ISLANDS,N & M ANDAMAN,32.7,15.9,8.6,53.4,343.6,503.3,465.4,460.9,454.8,276.1,198.6,100.0,2913.3,48.6,405.6,1884.4,574.7,HIGH
3,ARUNACHAL PRADESH,LOHIT,42.2,80.8,176.4,358.5,306.4,447.0,660.1,427.8,313.6,167.1,34.1,29.8,3043.8,123.0,841.3,1848.5,231.0,HIGH
4,ARUNACHAL PRADESH,EAST SIANG,33.3,79.5,105.9,216.5,323.0,738.3,990.9,711.2,568.0,206.9,29.5,31.7,4034.7,112.8,645.4,3008.4,268.1,HIGH

In [5]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
le.fit(data.PREDICT)
data.PREDICT = le.transform(data.PREDICT)

In [6]:
input_data = data['ANNUAL']
target = data['PREDICT']
print(data.shape)

(641, 20)

In [7]:
x_train, x_test, y_train, y_test = train_test_split(input_data, target, test_size = 0.25, random_state = 0)
model = KNeighborsClassifier(n_neighbors=5)
x_train = np.array(x_train)
x_train = x_train.reshape(-1,1)
model = model.fit(x_train,y_train)

In [8]:
x_test = np.array(x_test)
x_test = x_test.reshape(-1,1)
y_pred = model.predict(x_test)

In [9]:
from sklearn import metrics
print('Accuracy is :',metrics.accuracy_score(y_pred,y_test)*100)

Accuracy is : 95.65217391304348

In [10]:
import pickle
filename = 'knn_model.sav'
pickle.dump(model,open(filename,'wb'))
print("Model Saved")

Model Saved